<!DOCTYPE html>
<html lang="en">
<head>
  <title>Insurance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Happy Hands</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Insurance Products<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Life Insurance</a></li>
          <li><a href="#">Investment Plans</a></li>
          <li><a href="#">Health Insurance</a></li>
          <li><a href="#">Car Insurance</a></li>
          <li><a href="#">Other Insurance</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Renew Your Policy<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Life Renewal</a></li>
          <li><a href="#">Health Renewal</a></li>
          <li><a href="#">Motor Renewal</a></li>
          <li><a href="#">Two Wheeler Renewal</a></li>          
        </ul>
      </li>
      <li><a href="#">File a claim</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Support<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Policies</a></li>
          <li><a href="#">Get Help</a></li>
          <li><a href="#">Verify your advisor</a></li>
          <li><a href="#">Manage communication preferences</a></li>          
        </ul>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>