    <!-- creating nav-bar -->
<nav class="navbar navbar-dark">
  <div class="container-fluid">

    <!-- adding logo -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Happy Hands</a>  
    </div>

    <!-- creating menus -->
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>

      <!-- creating drop-down menus -->

      <!-- types of insurance -->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Insurance Products<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Life Insurance</a></li>
          <li><a href="#">Investment Plans</a></li>
          <li><a href="#">Health Insurance</a></li>
          <li><a href="#">Car Insurance</a></li>
          <li><a href="#">Other Insurance</a></li>
        </ul>
      </li>

      <!-- renewal of policies -->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Renew Your Policy<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Life Renewal</a></li>
          <li><a href="#">Health Renewal</a></li>
          <li><a href="#">Motor Renewal</a></li>
          <li><a href="#">Two Wheeler Renewal</a></li>          
        </ul>
      </li>

      <!-- claim menu -->
      <li><a href="#">File a claim</a></li>

      <!-- customer support -->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Support<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Policies</a></li>
          <li><a href="#">Get Help</a></li>
          <li><a href="#">Verify your advisor</a></li>
          <li><a href="#">Manage communication preferences</a></li>          
        </ul>
      </li>            
    </ul>
    
    <ul class="nav navbar-nav navbar-right">

      <!-- signup -->
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

      <!-- login  -->
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
  </div>
</nav>