<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  
    <title>Bootstrap Example</title>  
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color:#1E90FF;
  }
  </style>
  
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  </head>
  <body> 
  
  
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>     
   
  
   <div class="container">  
     <div class="jumbotron">  
  
  <h1>Child Plan</h1>
  <h3><p>A child plan is a mix of investment and insurance that helps in the financial planning for a kid's future 
    needs. The insurance aspect ensures that a child remains protected in the event of the unfortunate demise of a 
    parent. The investment avenue allows you to create a sufficient corpus to secure your child’s future. More 
    importantly, child plans come with flexible payouts at crucial milestones that can effectively fund a kid’s 
    education at different stages.</p></h3>
    <div class="container">
  
  
  <div class="container">
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://www.alankitinsurance.com/images-new/Child-plan.jpg" alt="Los Angeles" style="width:100%;">
        </div>
  
        <div class="item">
          <img src="  https://s3.ap-south-1.amazonaws.com/img1.creditmantri.com/community/article/secure-your-childs-future-with-a-child-insurance-plan.jpg" alt="Chicago" style="width:100%;">
        </div>
      
        <div class="item">
          <img src="https://www.maxlifeinsurance.com/content/dam/corporate/images/banner/All-plans/Child/Child_Plans_Web_Banner.jpg" alt="New york" style="width:100%;">
        </div>
      </div>
    
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
  </div><br>
  
  
  <div class="card text-black bg-light mb-3" style="max-width: 80rem;">
   
    <div class="card-body">
     <h2 class="card-title"> TOP Child Plans - 2022</h2>
  
  
  
  
    <div class="card bg-info text-white">
      <div class="card-body">TATA AIA</div>
    </div>
    <br>
  
  
    <div class="card bg-info text-white">
      <div class="card-body">Aditya Birla Sun Life Child Plans</div>
    </div>
    <br>
  
    <div class="card bg-info text-white">
      <div class="card-body">Aegon Life Child Plans</div>
    </div>
    <br>
  
  
    <div class="card bg-info text-white">
      <div class="card-body">Aviva Child Plans</div>
    </div>
    <br>
  
  
   
    <div class="card bg-info text-white">
      <div class="card-body">Bajaj Allianz Child Plans</div>
    </div>
    <br>
  
        
    <div class="card bg-info text-white">
      <div class="card-body">Canara HSBC Child Plans</div>
    </div>
    <br>
      
    </div>
  </div>
  </div>
   </div></body>
  
  
  
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Click On To View Plans</button>
  
    <div id="id01" class="modal">
      
      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src=" https://www.tncc.edu/sites/default/files/uploads/u76/50-Student-Support.png" alt="Avatar" class="avatar">
        </div>
    <h3 style="padding-left: 23%;">Nothing Is More Important Than Securing Your Child's Future</h3>
  <h4 style="padding-left: 28%;">Invest ₹10k/month your child will get ₹1 Cr Tax Free*</h4>
        <div class="container">
          <label for="uname"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="name" required>
    
          <label for="psw"><b>PhoneNumber</b></label>
          <input type="password" placeholder="Enter PhoneNumber" name="Number" required>
            
          <button type="submit">View</button>
           <h4>By clicking on "View Plans" you agree to our Privacy Policy and Terms of use
            Tax benefit is subject to changes in tax laws</h4>
      
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
  
        </div>
      </form>
    </div>
   
    
    
    
    <script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script><br>
  
    
    <br><div class="row">
      <div class="column">
        <div class="card">
          <p class="card-text">Insurer pays your premiums in your absence</p>
          
        </div>
      </div>
       
  
      <div class="column">
        <div class="card">
          <p class="card-text">Invest ₹10K/Month & Get ₹1 Crore on Maturity*
          </p>
        </div>
      </div>
  
      <div class="column">
        <div class="card">
          <p class="card-text">Save upto ₹46,800 in tax under Section 80(C)</p>
         
        </div>
      </div>
      
      
      <div class="column">
        <div class="card">
          <p class="card-text">Child gets Monthly income to meet the  expenses</p>
         
        </div>
      </div><br>
      <br>
      <br>
      <br>
  
      <div id="container">
        <h1 style="padding-left: 40%;">Child Plan Calculator</h1>
        <div id="calculator">
          <!-- Form-->
          <form>
            <p style="padding-left: 42%;">How much are you investing?</p>
             <input id="investamt" type="text" placeholder="Investment Amount" style="padding-left:45%">
            <p style="padding-left: 42%;">How many years will you be investing?</p>
            <select id="investyr" style="margin-left:45%">   
                  <option disabled selected value="0" >How many years?</option>
                  <option value="1">1 year</option>
                  <option value="2">2 years</option>
                  <option value="3">2 years</option>
                  <option value="4">4 years</option>
                  <option value="5">5 years</option>
                  <option value="6">6 years</option>
                  <option value="7">7 years</option>
                  <option value="8">8 years</option>
                  <option value="9">9 years</option>
                  <option value="10">10 years</option>
           </select>
          </form>
          <p style="padding-left: 44%;">What is the interest rate?</p><br>
          <input id="intrate" type="text" placeholder="Interest rate %" style="padding-left:45%"><br>
        
          <button onclick="button" id="calculate">Calculate!</button>
  
        </div>
       
     <br>
  <body>
      <h1>Are Child Plans Tax Free?</h1>
    <p>In addition to the death benefit and the annual income benefit, insurance buyers often look 
      for tax saving avenues. It is noteworthy that child plans come with tax benefits like any other 
      insurance scheme. Policyholders can claim deductions on their taxable income through such policies 
      under Sections 80C, 10(10D), and 80DD of the Income Tax Act, 1961. Note that all the proceeds 
      including death and maturity benefits from a child plan are entirely tax free.</p>
    
  
     
    
    
  </body>