<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">More Products</h5>
          <p>**Discount is offered by the Insurance company as approved by IRDAI for the product 
            under File & Use guidelines.
          </p>

          <p>#On the basis of your profile Happy Hands Insurance Brokers Private Limited (formerly 
              known as HappyHands Insurance Web Aggregator Private Limited) | CIN:  |
              Registered Office - 13th street, BTM Layout Stage 2, Bangalore, Karnataka - 560076.
          </p>
  
        </div>

        <!-- Grid column -->  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links 1 -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">General Insurance</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Car Insurance</a>
            </li>
            <li>
              <a href="#!">Bike Insurance</a>
            </li>
            <li>
              <a href="#!">Motor Insurance</a>
            </li>
            <li>
              <a href="#!">Travel Insurance</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links 2 -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Life Insurance</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Term Insurance</a>
            </li>
            <li>
              <a href="#!">Spouce Term Plan</a>
            </li>
            <li>
              <a href="#!">Return of Premium</a>
            </li>          
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links 3 -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Investment Plans</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Investment Plans</a>
            </li>
            <li>
              <a href="#!">Child Plans</a>
            </li>
            <li>
              <a href="#!">Pension Plans</a>
            </li>
            <li>
              <a href="#!">Tax Savings Plans</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="btn btn-info btn-rounded">REGISTER</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-info btn-rounded">LOGIN</a>
      </li>
    </ul>
    <!-- Call to action -->
  
    <hr>
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>

      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>

      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>

      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>      
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="https://mdbootstrap.com/"> HappyHands.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->