
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">HAPPY HANDS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#pricing">PRICING</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>HAPPY HANDS</h1> 
  <p>We specialize in providing different types of insurances</p> 
  <form>
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company Page</h2><br>
      <h4>To be the most admired insurance company that enables the continued progress of customers by being responsive to their needs.</h4><br>
      <p>Happy Hands General Insurance Company Ltd. is a joint venture between Happy Hands Ltd., India’s premier Housing Finance Institution and 
          ERGO International AG, the primary insurance entity of Munich Re Group. The Company offers complete range of general insurance 
          products ranging from Motor, Health, Travel, Home and Personal Accident in the retail space and customized products like Property, 
          Marine and Liability Insurance in the corporate space.</p>
      <br><button class="btn btn-info btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>MISSION:</strong> Our mission we ensure that it reflects in every task we perform, every decision we take. It helps us to 
        work as a team towards creating and sustaining value for all our stakeholders, namely Customers, Business Partners, Re-insurers, 
        Share-holders and most importantly, Employees.</h4><br>
      <p><strong>VISION:</strong> To make our vision a reality, we are committed to sow the SEED of our values and nurture it daily. Our 
        ethical approach & high levels of integrity enable us to 'continue the tradition of trust' we have inherited from our parent company 
        Happy Hands Ltd.</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-plane logo-small"></span>
      <h4>TRAVEL</h4>
      <p>we provide travel insurance</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>HEALTH</h4>
      <p>we provide health insurance</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-piggy-bank logo-small"></span>
      <h4>SAVINGS</h4>
      <p>emergency saving plan</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-home logo-small"></span>
      <h4>HOME</h4>
      <p>we secure your house</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-phone-alt logo-small"></span>
      <h4>SUPPORT</h4>
      <p>anytime consultation</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-education logo-small"></span>
      <h4 style="color:#303030;">EDUCATION</h4>
      <p>child education</p>
    </div>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2><br>
  <h4>What we have created</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="paris.jpg" alt="Paris" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="newyork.jpg" alt="New York" width="400" height="300">
        <p><strong>New York</strong></p>
        <p>We built New York</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="sanfran.jpg" alt="San Francisco" width="400" height="300">
        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
      </div>
    </div>
  </div><br>
  
  <h2>What our customers say</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>

  <!-- PLAN - 1 -->
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Health Insurance</h1>
        </div>
        <div class="panel-body">
            <p>Wellness Care <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;99/-</strong></p>
            <p>Prescription<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  99/-</strong> </p>      
            <p>Pharmaceutical Care<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 99/-</strong> </p>
            <p>Health Cards<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  53/-</strong> </p>
            <p>Doctor Consultation<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 149/-</strong> </p>
        </div>
        <div class="panel-footer">
          <h3>INR 499.00/-</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Read more</button>
        </div>
      </div>      
    </div> 

     <!-- PLAN - 2 -->
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Life Insurance</h1>
        </div>
        <div class="panel-body">            
            <p>Untimely death, your family will get life cover <strong>&nbsp;&nbsp;&nbsp;  1 crore</strong> </p>
            <p>Policy Coverage Ends<strong>&nbsp;&nbsp; 60 years</strong> </p>
            <p>Claim Settlement<strong>&nbsp;&nbsp;&nbsp; 24 hours</strong> </p>
            <p>Cover Term<strong>&nbsp;&nbsp;  35 years</strong> </p> 
            <p>Refund Policy<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  30 days</strong> </p>       
        </div>
        <div class="panel-footer">
          <h3>$INR 978.00/-</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Read more</button>
        </div>
      </div>      
    </div>       

    <!-- PLAN - 3 -->
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Investment Plan</h1>
        </div>
        <div class="panel-body">
            <p>Investment Amount  <strong>&nbsp;&nbsp;&nbsp;9999/-</strong></p>
            <p>Pay For<strong>&nbsp;&nbsp;&nbsp;  10 years</strong> </p>
            <p>Withdraw After<strong>&nbsp;&nbsp; 20 years</strong> </p>
            <p>Life Cover<strong>&nbsp;&nbsp;&nbsp; 12,00,000/-</strong> </p>
            <p>Refund Policy<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  30 days</strong> </p>
        </div>
        <div class="panel-footer">
          <h3>INR 9999.00/-</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Read more</button>
        </div>
      </div>      
    </div>    
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Bangalore, India</p>
      <p><span class="glyphicon glyphicon-phone"></span> +91 9876543210</p>
      <p><span class="glyphicon glyphicon-envelope"></span> support@happyhands.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Image of location/map -->
<img src="bangalore.jpg" class="image greyscale-min" style="width:100%">

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  
  <p> <a href="https://www.happyhands.com" title="Visit happyhands">© 2022 copyright www.happyhands.com</a></p>
</footer>



